{{- $machineType := promptStringOnce . "machine_type" "Machine type (personal/default)" "default" -}}

[data.vscode]
   app = "vscode"

[data.cursor]
   app = "cursor"

[data]
    machine_type = "{{ $machineType }}"

[git]
 autoCommit = true
 commitMessageTemplateFile = ".commit_message.tmpl"