{{- $machineType := promptStringOnce . "machine_type" "Machine type (personal/default)" "default" -}}
{{- $isWork := promptBoolOnce . "is_work_machine" "Is this a work machine" -}}

[data.vscode]
   app = "vscode"

[data.cursor]
   app = "cursor"

[data]
    machine_type = "{{ $machineType }}"
    is_work_machine = {{ $isWork }}

[git]
 autoCommit = true
 commitMessageTemplateFile = ".commit_message.tmpl"