{{- $gitName := (get . "git_name" | default "Mike Fisher") -}}
{{- $gitEmail := (get . "git_email" | default "mikefisher84@gmail.com") -}}
{{- $brewPrefix := "" -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   if eq .chezmoi.arch "arm64" -}}
{{-     $brewPrefix = "/opt/homebrew" -}}
{{-   else -}}
{{-     $brewPrefix = "/usr/local" -}}
{{-   end -}}
{{- end -}}
{{- $gh := "gh" -}}
{{- if $brewPrefix -}}
{{-   $gh = printf "%s/bin/gh" $brewPrefix -}}
{{- end -}}
[user]
	name = {{ $gitName }}
	email = {{ $gitEmail }}

[includeIf "gitdir:~/dev/work/"]
    path = ~/.gitconfig-work
[advice]
detachedHead = false
[init]
defaultBranch = main
[rerere]
enabled = true
[push]
default = current
autoSetupRemote = true
[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true
[core]
excludesfile = ~/.gitignore_global
pager = delta
	compression = 0
[pull]
default = current
rebase = true
[branch]
autoSetupMerge = always
[color]
ui = true
[alias]
dsf = diff --color
cleanup-local = "!/bin/zsh -c 'source ~/.config/zsh/.zshrc && cleanup-local-branches'"
cleanup-remote = "!/bin/zsh -c 'source ~/.config/zsh/.zshrc && cleanup-remote-branches'"
cleanup-all = "!/bin/zsh -c 'source ~/.config/zsh/.zshrc && cleanup-local-branches && cleanup-remote-branches'"
pushup = push --set-upstream origin HEAD
[pager]
dsf = diff-so-fancy | less --tabs=4 -RFXS
[interactive]
diffFilter = delta --color-only
[diff]
algorithm = histogram
[http]
	postBuffer = 524288000
[delta]
navigate = true # use n and N to move between diff sections
	side-by-side = false
true-color = always
line-numbers = true
hyperlinks = true
hyperlinks-file-link-format = "cursor://file/{path}:{line}"
syntax-theme = "Catppuccin Macchiato"
[merge]
conflictStyle = zdiff3
[credential "https://github.com"]
	helper = 
	helper = !{{ $gh }} auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !{{ $gh }} auth git-credential
