{{- $use1Password := (get . "use_1password" | default false) -}}
{
  "mcpServers": {
    "github": {
      "command": "npx",
      "args": [
        "-y",
        "@modelcontextprotocol/server-github"
      ],
      "env": {
        "GITHUB_PERSONAL_ACCESS_TOKEN": "{{ if and $use1Password (lookPath "op") }}{{ onepasswordRead "op://Private/GitHub CLI Personal Access Token/token" }}{{ end }}"
      }
    },
    {{ if .is_work_machine }}
    "mcp-atlassian": {
      "command": "uvx",
      "args": [
        "mcp-atlassian"
      ],
      "env": {
        "JIRA_URL": "https://campingworld.atlassian.net",
        "JIRA_USERNAME": "m.fisher@campingworld.com",
        "JIRA_API_TOKEN": "{{ if and $use1Password (lookPath "op") }}{{ onepasswordRead "op://Private/Jira Personal Access Token/credential" }}{{ end }}"
      }
    },
    {{ end }}
    "figma-developer-mcp": {
      "command": "npx",
      "args": [
        "-y",
        "figma-developer-mcp",
        "--stdio"
      ],
      "env": {
        "FIGMA_API_KEY": "{{ if and $use1Password (lookPath "op") }}{{ onepasswordRead "op://Private/Figma Personal Access Token/credential" }}{{ end }}"
      }
    },
    "sequential-thinking": {
      "command": "npx",
      "args": [
        "-y",
        "@modelcontextprotocol/server-sequential-thinking"
      ]
    },
    "browser-tools": {
      "command": "npx",
      "args": [
        "-y",
        "@agentdeskai/browser-tools-mcp@1.2.0"
      ]
    },
    "@smithery-ai-brave-search": {
      "command": "npx",
      "args": [
        "-y",
        "@smithery/cli@latest",
        "run",
        "@smithery-ai/brave-search",
        "--config",
        "{\"braveApiKey\":\"{{ if and $use1Password (lookPath "op") }}{{ onepasswordRead "op://Private/Brave API Key/credential" }}{{ end }}\"}"
      ]
    },
    "@kazuph-mcp-taskmanager": {
      "command": "npx",
      "args": [
        "-y",
        "@smithery/cli@latest",
        "run",
        "@kazuph/mcp-taskmanager",
        "--config",
        "{}"
      ]
    }
  }
}
